ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1 {
  background-color: teal;
  font-size: 24px;
  color: wheat;
  text-align: center;
  padding: 16px;
}

button {
  background-color: teal;
  font-size: 16px;
  color: white;
  border: none;
  padding: 8px 12px;
}

/* 区切り線、上下余白 */
li {
  border-bottom: 1px solid #ccc;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left {
  display: flex;
  align-items: center;
}

.left span {
  margin-left: 8px;
}

.right button {
  margin-left: 12px;
  padding: 4px 8px;
}
