body {
  font-family: 'M PLUS Rounded 1c', 'Roboto', sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark {
  background-color: #121212;
  color: #ffffff;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1 {
  background-color: teal;
  font-size: 24px;
  color: wheat;
  text-align: center;
  padding: 16px;
}

button {
  background-color: teal;
  font-size: 16px;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s ease;
}
button:hover {
  background-color: rgb(60, 66, 130);
}

.addBtn {
  margin-left: 5px;
}

.filter-button {
  border-radius: 16px;
}

.filter-button:hover {
  background-color: orange;
}
.delete-btn {
  background-color: crimson;
  border-radius: 10px;
}
.delete-btn:hover {
  background-color: #ffcc00;
}

.sort-button {
  border-radius: 16px;
}

.sort-button:hover {
  background-color: orange;
}

/* 区切り線、上下余白 */
li {
  border-bottom: 1px solid #ccc;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left {
  display: flex;
  align-items: center;
}

.left span {
  font-size: 18px;
  margin-left: 8px;
}

.right button {
  margin-left: 12px;
  padding: 4px 8px;
}

.dueDate {
  font-size: 18px;
  color: gray;
}

.filter-button.active {
  background-color: orange;
  border: 2px solid teal;
  font-weight: bold;
}

.weatherInfo {
  margin-left: 8px;
  font-size: 0.9em;
  color: gray;
}

/* 完了タスクの見た目変更 */
li.completed .taskText,
li.completed .weatherInfo,
li.completed .dueDate {
  /* 取消線 */
  text-decoration: line-through;
  /* 透明度薄く */
  opacity: 0.5;
}

/* 期限日の入力必須エラーのメッセージ */
.error-message {
  font-size: 14px;
  margin-top: 8px;
  color: crimson;
}

/* 優先度に応じた書式 */
.priority-high {
  border-left: 4px solid crimson;
  background-color: #ffecec;
}

/* .priority-high {  通常はデフォルト} */

.priority-low {
  border-left: 4px solid teal;
  background-color: #f0f9ff;
}

.fading {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.hidden {
  display: none;
}

/* sort-buttonにFontAwesomeアイコンを擬似要素で付加 */
.sort-button::after {
  font-family: 'Font Awesome 6 Free';
  font-weight: 900;
  margin-left: 0.5em;
}

/* 昇順（↑） */
.sort-asc::after {
  content: '\f062'; /* fa-arrow-up */
}

/* 降順（↓） */
.sort-desc::after {
  content: '\f063'; /* fa-arrow-down */
}
